# ##############################################################################
#
# Kconfig based on SWUpdate 2022.04
#
# TIP: It is recommeded to check on swupdate-menuconfig that the selected
# options are enabled as expected. Sometimes those have requirements on
# buildroot that if not meet, the final build won't include those.
#
# ##############################################################################


CONFIG_EXTRA_CFLAGS="-g"
CONFIG_DOWNLOAD=y               # HAVE_LIBCURL
CONFIG_SURICATTA=y              # HAVE_LIBCURL
CONFIG_WEBSERVER=y
CONFIG_MONGOOSESSL=y            # WEBSERVER && MONGOOSE && (SSL_IMPL_OPENSSL || SSL_IMPL_WOLFSSL || SSL_IMPL_MBEDTLS ) 
CONFIG_HASH_VERIFY=y            # SSL_IMPL_OPENSSL || SSL_IMPL_WOLFSSL || SSL_IMPL_MBEDTLS  
CONFIG_ENCRYPTED_IMAGES=y       # SSL_IMPL_OPENSSL || SSL_IMPL_WOLFSSL || SSL_IMPL_MBEDTLS 
CONFIG_RAW=y
CONFIG_SHELLSCRIPTHANDLER=y
# CONFIG_BOOTLOADERHANDLER=y

# Default location of configuration on device
CONFIG_DEFAULT_CONFIG_FILE="/etc/swupdate/swupdate.cfg"

# Device should check the Hardware
CONFIG_HW_COMPATIBILITY=y
# CONFIG_HW_COMPATIBILITY_FILE="/etc/swupdate/hwrevision"
CONFIG_HW_COMPATIBILITY_FILE="/persistent/id.device"
# CONFIG_SW_VERSIONS_FILE="/etc/swupdate/sw-versions"

# Allow disk management
CONFIG_DISKFORMAT_HANDLER=y
CONFIG_DISKFORMAT=y
CONFIG_DISKPART=y               # HAVE_LIBFDISK
CONFIG_FAT_FILESYSTEM=y         # DISKFORMAT
CONFIG_EXT_FILESYSTEM=y         # DISKFORMAT && HAVE_LIBEXT2FS       
